<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ningwuyue.sdk.nwyvideoplayersdk">

    <application>
        <activity
            android:name=".ui.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.VipWebviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.WebviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.SvippalyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>
</manifest>
